.imagen {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.boton {
    background-color: #6897af;
    border: 2px solid #000000;
    color: #000000;
    padding: inherit;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}

.boton a:link, a:visited {
    color: #000000;
    font-weight: bold;
    font-style: normal;
    text-decoration: none;
}

.boton a:hover {
    color: #3a3a3a;
}

.boton a:active {
    color: #3a3a3a;
}

#tipo1 {
    right: auto;
}

#tipo2 {
    right: -84%;
}
